@model NavViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}

@if (Model.SystemSettings != null)
{


        <!-- Header Navigation Start -->
        <div class="header-navigation d-none d-xl-block">
            <nav class="menu-primary">
                <ul class="menu-primary__container">
                @if (culture.Name == "en")
                {
                    foreach (var item in Model.NavMenus.Where(n => n.NavMenuPosision == NavMenuPosision.Top).OrderBy(n => n.indx))
                    {
                        if (Model.NavMenuItems.Where(s => s.NavMenuId == @item.Id).Count() == 0)
                        {
                                <li><a class="" href="@item.Url"><span>@item.EnName</span></a></li>
                            @if (User.IsInRole("Admins"))
                            {
                                
                                <li><a class="" asp-action="Control" asp-controller="ApplicationUsers"><span>Admin</span></a></li>
                            }
                        }
                        else
                        {
                                <li>
                                    <a href="#"><span>@item.EnName</span></a>
                                    <ul class="sub-menu">
                                    @foreach (var subitem in Model.NavMenuItems.Where(n => n.NavMenuId == item.Id))
                                    {

                                                <li><a href="@item.Url"><span>@subitem.EnName</span></a></li>
                                    }
                                    
                                    </ul>
                                </li>


                        }

                    }
                }
                else
                {
                    foreach (var item in Model.NavMenus.Where(n => n.NavMenuPosision == NavMenuPosision.Top).OrderBy(n => n.indx))
                    {
                        if (Model.NavMenuItems.Where(s => s.NavMenuId == @item.Id).Count() == 0)
                        {
                                <li><a class="" href="@item.Url"><span>@item.Name</span></a></li>
                            @if (User.IsInRole("Admins"))
                            {

                                <li><a class="" asp-action="Control" asp-controller="ApplicationUsers"><span>ادارة</span></a></li>
                            }

                        }
                        else
                        {
                                <li>
                                    <a href="#"><span>@item.Name</span></a>
                                    <ul class="sub-menu">
                                    @foreach (var subitem in Model.NavMenuItems.Where(n => n.NavMenuId == item.Id))
                                    {

                                                <li><a href="@item.Url"><span>@subitem.Name</span></a></li>
                                    }
                                    @if (User.IsInRole("Admins"))
                                    {
                                        <li><a asp-action="Control" asp-controller="ApplicationUsers"><span>ادارة</span></a></li>
                                    }

                                    </ul>
                                </li>


                        }

                    }
                }
                <li>
                    <partial name="_Culture" />
                </li>
                </ul>
            </nav>
        </div>

}