@model NavViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}

@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (@Model.SystemSettings != null)
{
    @* <div class="top-bar text-white-50 row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-end d-flex align-items-center">
            <small>
                <i class="fa fa-map-marker-alt me-2"></i>@if (culture.Name == "en")
                {
                    @Model.SystemSettings.EnAddress
                }
                else
                {
                    @Model.SystemSettings.Address
                }
            </small>
            <small class="ms-4"><i class="fa fa-envelope mx-2"></i> @Model.SystemSettings.AdminEmail</small>
            @if (!User.Identity.IsAuthenticated)
            {
                <small class="ms-4"><a asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a></small>
            }
            else
            {
                <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button style="border:none;background:none;color:white" title="LogOut" type="submit" class="rounded-0 text-dark"><small class="ms-4">@Localizer["LogOut"]</small></button>
                </form>
            }
        </div>
        <div class="col-lg-6 px-5 text-start">
            <small>@Localizer["Follow Us"]:</small>
            @if (Model.SystemSettings.FB != null)
            {
                <a class="text-white-50 ms-3" href="@Model.SystemSettings.FB"><i class="fab fa-facebook-f"></i></a>
            }
            @if (Model.SystemSettings.Twitter != null)
            {
                <a class="text-white-50 ms-3" href="@Model.SystemSettings.Twitter"><i class="fab fa-twitter"></i></a>
            }
            @if (Model.SystemSettings.Linkedin != null)
            {
                <a class="text-white-50 ms-3" href="@Model.SystemSettings.Linkedin"><i class="fab fa-linkedin-in"></i></a>
            }
            @if (Model.SystemSettings.Instagram != null)
            {
                <a class="text-white-50 ms-3" href="@Model.SystemSettings.Instagram"><i class="fab fa-instagram"></i></a>
            }
            @if (Model.SystemSettings.Youtube != null)
            {
                <a class="text-white-50 ms-3" href="@Model.SystemSettings.Youtube"><i class="fab fa-youtube"></i></a>
            }

        </div>
    </div> *@

    <!-- Header start -->
        <div class="header-section header-sticky">

            <!-- Header Top Start -->
            <div class="header-top-02 d-none d-sm-block">
                <div class="container">

                    <!-- Header Top Bar Wrapper Start -->
                    <div class="header-top-bar-wrap d-sm-flex justify-content-between">

                        <div class="header-top-bar-wrap__info">
                            <ul class="header-top-bar-wrap__info-list header-top-bar-wrap__info-list-02">
                                <li><a href="tel:+8819906886"><i class="fas fa-phone"></i> <span class="info-text">(+88) 1990 6886</span></a></li>
                                <li><a href="mailto:agency@example.com"><i class="far fa-envelope"></i> <span class="info-text">agency@example.com</span></a></li>
                            </ul>
                        </div>

                        <div class="header-top-bar-wrap__info d-sm-flex">
                            <ul class="header-top-bar-wrap__info-list header-top-bar-wrap__info-list-02 d-none d-lg-flex">
                            <li>
                                @if(User.Identity.IsAuthenticated){
                                    <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button style="border:none;background:none" title="خروج" type="submit" class="rounded-0 text-dark">@Localizer["LogOut"]</button>
                                    </form>
                                }
                                else{
                                <a asp-area="Identity" asp-page="/Account/Login" >@Localizer["Login"]</a>
                                }
@*                                 <li><button data-bs-toggle="modal" data-bs-target="#registerModal">Register</button></li>
                            *@
                            </li>
                        </ul>
                            <ul class="header-top-bar-wrap__info-social header-top-bar-wrap__info-social-02">
                                <li><a href="@Model.SystemSettings.Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="@Model.SystemSettings.FB"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="@Model.SystemSettings.Instagram"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="@Model.SystemSettings.Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- Header Top Bar Wrapper End -->

                </div>
            </div>
            <!-- Header Top End -->

            <!-- Header Main Start -->
            <div class="header-main-06 header-transparent">
                <div class="container">
                    <!-- Header Main Wrapper Start -->
                    <div class="header-main-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a class="header-logo__logo" asp-action="Index" asp-controller="Home"><img src="/assets/images/Logo.svg" style="width:296px;height:64px" alt="Logo"></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Inner Start -->
                        <div class="header-inner">

                                    @await Component.InvokeAsync("NavbarTop")


                            <!-- Header Mini Cart Start -->
                            <div class="header-action">
                                @* <a href="#" class="header-action__btn">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="header-action__number">3</span>
                                </a> *@

                                <!-- Header Mini Cart Start -->
                                @* <div class="header-mini-cart">

                                    <!-- Header Mini Cart Product List Start -->
                                    <ul class="header-mini-cart__product-list ">
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="assets/images/product/product-1.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"><a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="assets/images/product/product-2.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"> <a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="assets/images/product/product-3.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"> <a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Header Mini Cart Product List End -->

                                    <div class="header-mini-cart__footer">
                                        <div class="header-mini-cart__total">
                                            <p class="header-mini-cart__label">Total:</p>
                                            <p class="header-mini-cart__value">$445<span class="separator">.99</span></p>
                                        </div>
                                        <div class="header-mini-cart__btn">
                                            <a href="cart.html" class="btn btn-primary btn-hover-secondary">View cart</a>
                                            <a href="checkout.html" class="btn btn-primary btn-hover-secondary">Checkout</a>
                                        </div>
                                    </div>

                                </div> *@
                                <!-- Header Mini Cart End -->

                            </div>
                            <!-- Header Mini Cart End -->

                            <!-- Header Mobile Toggle Start -->
                            <div class="header-toggle">
                                <button class="header-toggle__btn d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMobileMenu">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </button>
                            </div>
                            <!-- Header Mobile Toggle End -->

                        </div>
                        <!-- Header Inner End -->

                    </div>
                    <!-- Header Main Wrapper End -->
                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header End -->
}
else
{
    <!-- Header start -->
        <div class="header-section header-sticky">

            <!-- Header Top Start -->
            <div class="header-top-02 d-none d-sm-block">
                <div class="container">

                    <!-- Header Top Bar Wrapper Start -->
                    <div class="header-top-bar-wrap d-sm-flex justify-content-between">

                        <div class="header-top-bar-wrap__info">
                            <ul class="header-top-bar-wrap__info-list header-top-bar-wrap__info-list-02">
                                <li><a href="tel:+8819906886"><i class="fas fa-phone"></i> <span class="info-text">(+88) 1990 6886</span></a></li>
                                <li><a href="mailto:agency@example.com"><i class="far fa-envelope"></i> <span class="info-text">agency@example.com</span></a></li>
                            </ul>
                        </div>

                        <div class="header-top-bar-wrap__info d-sm-flex">
                            <ul class="header-top-bar-wrap__info-list header-top-bar-wrap__info-list-02 d-none d-lg-flex">
                                <li><button data-bs-toggle="modal" data-bs-target="#loginModal">Log in</button></li>
                                <li><button data-bs-toggle="modal" data-bs-target="#registerModal">Register</button></li>
                            </ul>
                            <ul class="header-top-bar-wrap__info-social header-top-bar-wrap__info-social-02">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- Header Top Bar Wrapper End -->

                </div>
            </div>
            <!-- Header Top End -->

            <!-- Header Main Start -->
            <div class="header-main-06 header-transparent">
                <div class="container">
                    <!-- Header Main Wrapper Start -->
                    <div class="header-main-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a class="header-logo__logo" href="index.html"><img src="/assets/images/icon.png" width="296" height="64" alt="Logo"></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Inner Start -->
                        <div class="header-inner">

                            <!-- Header Navigation Start -->
                            <div class="header-navigation d-none d-xl-block">
                                <nav class="menu-primary">
                                    <ul class="menu-primary__container">
                                        <li><a class="active" href="#"><span>Home</span></a>

                                            <ul class="mega-menu">
                                                <li>
                                                    <!-- Mega Menu Content Start -->
                                                    <div class="mega-menu-content">
                                                        <div class="row">
                                                            <div class="col-xl-3">
                                                                <div class="menu-content-list">
                                                                    <a href="index.html" class="menu-content-list__link">Main Demo <span class="badge hot">Hot</span></a>
                                                                    <a href="index-course-hub.html" class="menu-content-list__link">Course Hub</a>
                                                                    <a href="index-online-academy.html" class="menu-content-list__link">Online Academy <span class="badge hot">Hot</span></a>
                                                                    <a href="index-university.html" class="menu-content-list__link">University</a>
                                                                    <a href="index-education-center.html" class="menu-content-list__link">Education Center <span class="badge hot">Hot</span></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3">
                                                                <div class="menu-content-list">
                                                                    <a href="index-language-academic.html" class="menu-content-list__link">Language Academic</a>
                                                                    <a href="index-single-instructor.html" class="menu-content-list__link">Single Instructor</a>
                                                                    <a href="index-dev.html" class="menu-content-list__link">Dev <span class="badge new">New</span></a>
                                                                    <a href="index-online-art.html" class="menu-content-list__link">Online Art <span class="badge new">New</span></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="menu-content-banner" style="background-image: url(assets/images/home-megamenu-bg.jpg);">
                                                                    <h4 class="menu-content-banner__title">Achieve Your Goals With EduMall</h4>
                                                                    <a href="#" class="menu-content-banner__btn btn btn-primary btn-hover-secondary">Purchase now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Mega Menu Content Start -->
                                                </li>
                                            </ul>




                                        </li>
                                        <li>
                                            <a href="#"><span>Courses</span></a>
                                            <ul class="sub-menu">
                                                <li><a href="course-grid-01.html"><span>Grid Basic Layout</span></a></li>
                                                <li><a href="course-grid-02.html"><span>Grid Modern Layout</span></a></li>
                                                <li><a href="course-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                                                <li><a href="course-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                                                <li><a href="course-list.html"><span>List Basic Layout</span></a></li>
                                                <li><a href="course-list-left-sidebar.html"><span>List Left Sidebar</span></a></li>
                                                <li><a href="course-list-right-sidebar.html"><span>List Right Sidebar</span></a></li>
                                                <li><a href="course-category.html"><span>Category Page</span></a></li>
                                                <li>
                                                    <a href="#"><span>Single Layout</span></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="course-single-layout-01.html"><span>Layout 01</span></a></li>
                                                        <li><a href="course-single-layout-02.html"><span>Layout 02</span></a></li>
                                                        <li><a href="course-single-layout-03.html"><span>Layout 03</span></a></li>
                                                        <li><a href="course-single-layout-04.html"><span>Layout 04</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span>Blog</span></a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-grid-01.html"><span>Grid Basic Layout</span></a></li>
                                                <li><a href="blog-grid-02.html"><span>Grid Wide</span></a></li>
                                                <li><a href="blog-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                                                <li><a href="blog-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                                                <li><a href="blog-list-style-01.html"><span>List Layout 01</span></a></li>
                                                <li><a href="blog-list-style-02.html"><span>List Layout 02</span></a></li>
                                                <li>
                                                    <a href="#"><span>Single Layouts</span></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="blog-details-left-sidebar.html"><span>Left Sidebar</span></a></li>
                                                        <li><a href="blog-details-right-sidebar.html"><span>Right Sidebar</span></a></li>
                                                        <li><a href="blog-details.html"><span>No Sidebar</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span>Pages</span></a>
                                            <ul class="sub-menu">
                                                <li><a href="become-an-instructor.html"><span>Become an Instructor</span></a></li>
                                                <li>
                                                    <a href="instructors.html"><span>Instructor</span></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="dashboard-my-courses.html"><span>My Courses</span></a></li>
                                                        <li><a href="dashboard-announcement.html"><span>Announcements</span></a></li>
                                                        <li><a href="dashboard-withdraw.html"><span>Withdrawals</span></a></li>
                                                        <li><a href="dashboard-quiz-attempts.html"><span>Quiz Attempts</span></a></li>
                                                        <li><a href="dashboard-question-answer.html"><span>Question & Answer</span></a></li>
                                                        <li><a href="dashboard-assignments.html"><span>Assignments</span></a></li>
                                                        <li><a href="dashboard-students.html"><span>My Students</span></a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="about.html"><span>About us</span></a></li>
                                                <li><a href="about-02.html"><span>About us 02</span></a></li>
                                                <li><a href="contact-us.html"><span>Contact us</span></a></li>
                                                <li><a href="contact-us-02.html"><span>Contact us 02</span></a></li>
                                                <li><a href="membership-plans.html"><span>Membership plans</span></a></li>
                                                <li><a href="faqs.html"><span>FAQs</span></a></li>
                                                <li><a href="404-page.html"><span>404 Page</span></a></li>
                                                <li>
                                                    <a href="#"><span>Dashboard</span></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="dashboard-index.html"><span>Dashboard</span></a></li>
                                                        <li><a href="dashboard-student-index.html"><span>Dashboard Student</span></a></li>
                                                        <li><a href="dashboard-profile.html"><span>My Profile</span></a></li>
                                                        <li><a href="dashboard-all-course.html"><span>Enrolled Courses</span></a></li>
                                                        <li><a href="dashboard-wishlist.html"><span>Wishlist</span></a></li>
                                                        <li><a href="dashboard-reviews.html"><span>Reviews</span></a></li>
                                                        <li><a href="dashboard-my-quiz-attempts.html"><span>My Quiz Attempts</span></a></li>
                                                        <li><a href="dashboard-purchase-history.html"><span>Purchase History</span></a></li>
                                                        <li><a href="dashboard-settings.html"><span>Settings</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span>Features</span></a>
                                            <ul class="sub-menu">
                                                <li><a href="#"><span>Events</span></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="event-grid-sidebar.html"><span>Event Listing 01</span></a></li>
                                                        <li><a href="event-grid.html"><span>Event Listing 02</span></a></li>
                                                        <li><a href="event-list.html"><span>Event Listing 03</span></a></li>
                                                        <li><a href="event-list-sidebar.html"><span>Event Listing 04</span></a></li>
                                                        <li>
                                                            <a href="#"><span>Single Layouts</span></a>
                                                            <ul class="sub-menu">
                                                                <li><a href="event-details-layout-01.html"><span>Layout 01</span></a></li>
                                                                <li><a href="event-details-layout-02.html"><span>Layout 02</span></a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#"><span>Shop</span></a>
                                                    <ul class="sub-menu">
                                                        <li><a href="shop-default.html"><span>Shop – Default</span></a></li>
                                                        <li><a href="shop-left-sidebar.html"><span>Shop – Left Sidebar</span></a></li>
                                                        <li><a href="shop-right-sidebar.html"><span>Shop – Right Sidebar</span></a></li>
                                                        <li><a href="my-account.html"><span>My account</span></a></li>
                                                        <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                                        <li><a href="cart.html"><span>Cart</span></a></li>
                                                        <li><a href="cart-empty.html"><span>Cart Empty</span></a></li>
                                                        <li><a href="checkout.html"><span>Checkout</span></a></li>
                                                        <li>
                                                            <a href="#"><span>Single Layouts</span></a>
                                                            <ul class="sub-menu">
                                                                <li><a href="shop-single-list-left-sidebar.html"><span>List – Left Sidebar</span></a></li>
                                                                <li><a href="shop-single-list-right-sidebar.html"><span>List – Right Sidebar</span></a></li>
                                                                <li><a href="shop-single-list-no-sidebar.html"><span>List – No Sidebar</span></a></li>
                                                                <li><a href="shop-single-tab-left-sidebar.html"><span>Tabs – Left Sidebar</span></a></li>
                                                                <li><a href="shop-single-tab-right-sidebar.html"><span>Tabs – Right Sidebar</span></a></li>
                                                                <li><a href="shop-single-tab-no-sidebar.html"><span>Tabs – No Sidebar</span></a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="zoom-meetings.html"><span>Zoom Meetings</span></a></li>
                                                <li><a href="zoom-meetings-single.html"><span>Zoom Meeting Single</span></a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                </nav>
                            </div>
                            <!-- Header Navigation End -->

                            <!-- Header Mini Cart Start -->
                            <div class="header-action">
                                <a href="#" class="header-action__btn">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="header-action__number">3</span>
                                </a>

                                <!-- Header Mini Cart Start -->
                                <div class="header-mini-cart">

                                    <!-- Header Mini Cart Product List Start -->
                                    <ul class="header-mini-cart__product-list ">
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="assets/images/product/product-1.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"><a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="assets/images/product/product-2.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"> <a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="assets/images/product/product-3.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"> <a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Header Mini Cart Product List End -->

                                    <div class="header-mini-cart__footer">
                                        <div class="header-mini-cart__total">
                                            <p class="header-mini-cart__label">Total:</p>
                                            <p class="header-mini-cart__value">$445<span class="separator">.99</span></p>
                                        </div>
                                        <div class="header-mini-cart__btn">
                                            <a href="cart.html" class="btn btn-primary btn-hover-secondary">View cart</a>
                                            <a href="checkout.html" class="btn btn-primary btn-hover-secondary">Checkout</a>
                                        </div>
                                    </div>

                                </div>
                                <!-- Header Mini Cart End -->

                            </div>
                            <!-- Header Mini Cart End -->

                            <!-- Header Mobile Toggle Start -->
                            <div class="header-toggle">
                                <button class="header-toggle__btn d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMobileMenu">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </button>
                            </div>
                            <!-- Header Mobile Toggle End -->

                        </div>
                        <!-- Header Inner End -->

                    </div>
                    <!-- Header Main Wrapper End -->
                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header End -->
}