@using System.Text.RegularExpressions
@model HomeViewModel
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "الرئيسة";
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}

<!-- Slider Section Start -->
<div class="slider-section-03-home">
    <div class="container">

        <!-- Slider Widget Start -->
        <div class="slider-widget-02">

            <!-- Slider Caption Start -->
            <div class="slider-caption-03 text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="slider-caption-03__main-title">@Localizer["Learn Something"] <mark>@Localizer["New"]</mark>
                    @Localizer["Today"]</h2>
            </div>
            <!-- Slider Caption End -->
            <!-- Slider Search Start -->
            @* <div class="slider-search" data-aos="fade-up" data-aos-duration="1000">
            <form action="#">
            <input class="slider-search__field" placeholder="What do you want to learn?">
            <button type="submit" class="slider-search__submit">
            <i class="search-btn-icon fas fa-search"></i>
            </button>
            </form>
            </div> *@
            <!-- Slider Search End -->

        </div>
        <!-- Slider Widget End -->
        <!-- Slider Widget Box Start -->
        <div class="slider-widget-box">
            <div class="row gy-6 gx-md-7">
                <div class="col-sm-4">

                    <!-- Slider Widget Box Item Start -->
                    <div class="slider-widget-box-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="slider-widget-box-item__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="64px" height="64px" viewBox="0 0 64 64" xml:space="preserve">
                                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                    points="5,41 11,1 53,1 59,41 "></polyline>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                    d="M21,41c0,6.075,4.925,11,11,11s11-4.925,11-11h16v22  H5V41H21z"></path>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12"
                                    y1="31" x2="52" y2="31"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="14"
                                    y1="21" x2="50" y2="21"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="16"
                                    y1="11" x2="48" y2="11"></line>
                            </svg>
                        </div>
                        <div class="slider-widget-box-item__coption">
                            <h4 class="slider-widget-box-item__title">6,000 <br> Online Courses</h4>
                            <p>Explore wide-range of online courses</p>
                        </div>
                    </div>
                    <!-- Slider Widget Box Item End -->

                </div>
                <div class="col-sm-4">

                    <!-- Slider Widget Box Item Start -->
                    <div class="slider-widget-box-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="slider-widget-box-item__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="64px" height="64px" viewBox="0 0 64 64" xml:space="preserve">
                                <polygon fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                    points="32,47 12,62 20,38 2,24 24,24 32,1 40,24   62,24 44,38 52,62 "></polygon>
                            </svg>
                        </div>
                        <div class="slider-widget-box-item__coption">
                            <h4 class="slider-widget-box-item__title">Top <br> Instructors</h4>
                            <p>Learn from the best experts of the subjects</p>
                        </div>
                    </div>
                    <!-- Slider Widget Box Item End -->

                </div>
                <div class="col-sm-4">

                    <!-- Slider Widget Box Item Start -->
                    <div class="slider-widget-box-item" data-aos="fade-up" data-aos-duration="1000">
                        <div class="slider-widget-box-item__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="64px" height="64px" viewBox="0 0 64 64" xml:space="preserve">
                                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                    points="32,12 32,32 41,41 "></polyline>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="4"
                                    y1="32" x2="8" y2="32"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="56"
                                    y1="32" x2="60" y2="32"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="32"
                                    y1="60" x2="32" y2="56"></line>
                                <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="32"
                                    y1="8" x2="32" y2="4"></line>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                    d="M32,63c17.121,0,31-13.879,31-31S49.121,1,32,1"></path>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                    d="M32,63C14.879,63,1,49.121,1,32  c0-6.713,2.134-12.926,5.759-18l5.62-5.621">
                                </path>
                                <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel"
                                    stroke-miterlimit="10" points="13,19 13,8 2,8   "></polyline>
                            </svg>
                        </div>
                        <div class="slider-widget-box-item__coption">
                            <h4 class="slider-widget-box-item__title">Portable <br> Programs</h4>
                            <p>Allow you to learn anywhere, anytime</p>
                        </div>
                    </div>
                    <!-- Slider Widget Box Item End -->

                </div>
            </div>
        </div>
        <!-- Slider Widget Box End -->

    </div>

    <img class="slider-section-03__image-01" src="assets/images/Home-student1.png" alt="image" width="250" height="315">
    <img class="slider-section-03__image-02" src="assets/images/Home-student1.png" alt="image" width="231" height="284">
    <img class="slider-section-03__image-03" src="assets/images/Home-student2.png" alt="image" width="173" height="171">

    <!-- Slider Widget Box Start -->
    @* <div class="slider-image-widget-03 d-none d-md-block" data-aos="zoom-in-left" data-aos-duration="1000"
    data-aos-delay="1000">
    <div class="slider-image-widget-03__icon">
    <i class="fas fa-users"></i>
    </div>
    <div class="slider-image-widget-03__caption">
    <h4 class="slider-image-widget-03__title">Congratulations to Sophia <strong>for being student</strong> of the week
    this week!</h4>
    </div>
    </div> *@
    <!-- Slider Widget Box End -->

    <div class="slider-section-03__shape-wrapper scene">
        <img class="slider-section-03__shape-01" data-depth="0.4" src="assets/images/shape/edumall-shape-01.png"
            alt="Shape" width="179" height="178">
        <img class="slider-section-03__shape-02" data-depth="-0.4"
            src="assets/images/shape/edumall-shape-grid-dots-02.png" alt="Shape" width="136" height="136">
        <div class="slider-section-03__shape-03" data-depth="0.4"></div>
        <div class="slider-section-03__shape-04" data-depth="-0.6"></div>
        <img class="slider-section-03__shape-05" data-depth="-0.6" src="assets/images/shape/edumall-shape-01.png"
            alt="Shape" width="179" height="178">
    </div>


</div>
<!-- Slider Section End -->
<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-end offcanvas-mobile" id="offcanvasMobileMenu"
    style="background-image: url(assets/images/mobile-bg.jpg);">
    <div class="offcanvas-header bg-white">
        <div class="offcanvas-logo">
            <a class="offcanvas-logo__logo" href="#">
                <img src="/assets/images/Logo.svg" style="height:64px" alt="Logo">
            </a>
        </div>
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
    </div>

    <div class="offcanvas-body">
        <nav class="canvas-menu">
            <ul class="offcanvas-menu">
                <li>
                    <a class="active" href="#"><span>Home</span></a>
                    <ul class="mega-menu">
                        <li>
                            <!-- Mega Menu Content Start -->
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="menu-content-list">
                                            <a href="index.html" class="menu-content-list__link">Main Demo <span
                                                    class="badge hot">Hot</span></a>
                                            <a href="index-course-hub.html" class="menu-content-list__link">Course
                                                Hub</a>
                                            <a href="index-online-academy.html" class="menu-content-list__link">Online
                                                Academy <span class="badge hot">Hot</span></a>
                                            <a href="index-university.html"
                                                class="menu-content-list__link">University</a>
                                            <a href="index-education-center.html"
                                                class="menu-content-list__link">Education Center <span
                                                    class="badge hot">Hot</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <div class="menu-content-list">
                                            <a href="index-language-academic.html"
                                                class="menu-content-list__link">Language Academic</a>
                                            <a href="index-single-instructor.html"
                                                class="menu-content-list__link">Single Instructor</a>
                                            <a href="index-dev.html" class="menu-content-list__link">Dev <span
                                                    class="badge new">New</span></a>
                                            <a href="index-online-art.html" class="menu-content-list__link">Online Art
                                                <span class="badge new">New</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="menu-content-banner"
                                            style="background-image: url(assets/images/home-megamenu-bg.jpg);">
                                            <h4 class="menu-content-banner__title">Achieve Your Goals With EduMall</h4>
                                            <a href="#"
                                                class="menu-content-banner__btn btn btn-primary btn-hover-secondary">Purchase
                                                now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mega Menu Content Start -->
                        </li>
                    </ul>




                </li>
                <li>
                    <a href="#"><span>Courses</span></a>
                    <ul class="sub-menu">
                        <li><a href="course-grid-01.html"><span>Grid Basic Layout</span></a></li>
                        <li><a href="course-grid-02.html"><span>Grid Modern Layout</span></a></li>
                        <li><a href="course-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                        <li><a href="course-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                        <li><a href="course-list.html"><span>List Basic Layout</span></a></li>
                        <li><a href="course-list-left-sidebar.html"><span>List Left Sidebar</span></a></li>
                        <li><a href="course-list-right-sidebar.html"><span>List Right Sidebar</span></a></li>
                        <li><a href="course-category.html"><span>Category Page</span></a></li>
                        <li>
                            <a href="#"><span>Single Layout</span></a>
                            <ul class="sub-menu">
                                <li><a href="course-single-layout-01.html"><span>Layout 01</span></a></li>
                                <li><a href="course-single-layout-02.html"><span>Layout 02</span></a></li>
                                <li><a href="course-single-layout-03.html"><span>Layout 03</span></a></li>
                                <li><a href="course-single-layout-04.html"><span>Layout 04</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Blog</span></a>
                    <ul class="sub-menu">
                        <li><a href="blog-grid-01.html"><span>Grid Basic Layout</span></a></li>
                        <li><a href="blog-grid-02.html"><span>Grid Wide</span></a></li>
                        <li><a href="blog-grid-left-sidebar.html"><span>Grid Left Sidebar</span></a></li>
                        <li><a href="blog-grid-right-sidebar.html"><span>Grid Right Sidebar</span></a></li>
                        <li><a href="blog-list-style-01.html"><span>List Layout 01</span></a></li>
                        <li><a href="blog-list-style-02.html"><span>List Layout 02</span></a></li>
                        <li>
                            <a href="#"><span>Single Layouts</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-details-left-sidebar.html"><span>Left Sidebar</span></a></li>
                                <li><a href="blog-details-right-sidebar.html"><span>Right Sidebar</span></a></li>
                                <li><a href="blog-details.html"><span>No Sidebar</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Pages</span></a>
                    <ul class="sub-menu">
                        <li><a href="become-an-instructor.html"><span>Become an Instructor</span></a></li>
                        <li>
                            <a href="instructors.html"><span>Instructor</span></a>
                            <ul class="sub-menu">
                                <li><a href="dashboard-my-courses.html"><span>My Courses</span></a></li>
                                <li><a href="dashboard-announcement.html"><span>Announcements</span></a></li>
                                <li><a href="dashboard-withdraw.html"><span>Withdrawals</span></a></li>
                                <li><a href="dashboard-quiz-attempts.html"><span>Quiz Attempts</span></a></li>
                                <li><a href="dashboard-question-answer.html"><span>Question & Answer</span></a></li>
                                <li><a href="dashboard-assignments.html"><span>Assignments</span></a></li>
                                <li><a href="dashboard-students.html"><span>My Students</span></a></li>
                            </ul>
                        </li>
                        <li><a href="about.html"><span>About us</span></a></li>
                        <li><a href="about-02.html"><span>About us 02</span></a></li>
                        <li><a href="contact-us.html"><span>Contact us</span></a></li>
                        <li><a href="contact-us-02.html"><span>Contact us 02</span></a></li>
                        <li><a href="membership-plans.html"><span>Membership plans</span></a></li>
                        <li><a href="faqs.html"><span>FAQs</span></a></li>
                        <li><a href="404-page.html"><span>404 Page</span></a></li>
                        <li>
                            <a href="#"><span>Dashboard</span></a>
                            <ul class="sub-menu">
                                <li><a href="dashboard-index.html"><span>Dashboard</span></a></li>
                                <li><a href="dashboard-student-index.html"><span>Dashboard Student</span></a></li>
                                <li><a href="dashboard-profile.html"><span>My Profile</span></a></li>
                                <li><a href="dashboard-all-course.html"><span>Enrolled Courses</span></a></li>
                                <li><a href="dashboard-wishlist.html"><span>Wishlist</span></a></li>
                                <li><a href="dashboard-reviews.html"><span>Reviews</span></a></li>
                                <li><a href="dashboard-my-quiz-attempts.html"><span>My Quiz Attempts</span></a></li>
                                <li><a href="dashboard-purchase-history.html"><span>Purchase History</span></a></li>
                                <li><a href="dashboard-settings.html"><span>Settings</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Features</span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#"><span>Events</span></a>
                            <ul class="sub-menu">
                                <li><a href="event-grid-sidebar.html"><span>Event Listing 01</span></a></li>
                                <li><a href="event-grid.html"><span>Event Listing 02</span></a></li>
                                <li><a href="event-list.html"><span>Event Listing 03</span></a></li>
                                <li><a href="event-list-sidebar.html"><span>Event Listing 04</span></a></li>
                                <li>
                                    <a href="#"><span>Single Layouts</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="event-details-layout-01.html"><span>Layout 01</span></a></li>
                                        <li><a href="event-details-layout-02.html"><span>Layout 02</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Shop</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-default.html"><span>Shop – Default</span></a></li>
                                <li><a href="shop-left-sidebar.html"><span>Shop – Left Sidebar</span></a></li>
                                <li><a href="shop-right-sidebar.html"><span>Shop – Right Sidebar</span></a></li>
                                <li><a href="my-account.html"><span>My account</span></a></li>
                                <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                <li><a href="cart.html"><span>Cart</span></a></li>
                                <li><a href="cart-empty.html"><span>Cart Empty</span></a></li>
                                <li><a href="checkout.html"><span>Checkout</span></a></li>
                                <li>
                                    <a href="#"><span>Single Layouts</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-single-list-left-sidebar.html"><span>List – Left
                                                    Sidebar</span></a></li>
                                        <li><a href="shop-single-list-right-sidebar.html"><span>List – Right
                                                    Sidebar</span></a></li>
                                        <li><a href="shop-single-list-no-sidebar.html"><span>List – No
                                                    Sidebar</span></a></li>
                                        <li><a href="shop-single-tab-left-sidebar.html"><span>Tabs – Left
                                                    Sidebar</span></a></li>
                                        <li><a href="shop-single-tab-right-sidebar.html"><span>Tabs – Right
                                                    Sidebar</span></a></li>
                                        <li><a href="shop-single-tab-no-sidebar.html"><span>Tabs – No Sidebar</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="zoom-meetings.html"><span>Zoom Meetings</span></a></li>
                        <li><a href="zoom-meetings-single.html"><span>Zoom Meeting Single</span></a></li>
                    </ul>
                </li>

















            </ul>
        </nav>
    </div>

    <!-- Header User Button Start -->
    <div class="offcanvas-user d-lg-none">
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__login btn btn-secondary btn-hover-secondarys" asp-area="Identity"
                asp-page="/Account/Login">Log In</button>
        </div>
        <div class="offcanvas-user__button">
            <button class="offcanvas-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal"
                data-bs-target="#registerModal">Sign Up</button>
        </div>
    </div>
    <!-- Header User Button End -->

</div>
<!-- Offcanvas End -->
@if (culture.Name == "en")
{
    <div class="courses-section section-padding-02">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="section-title__title">Most <mark>Popular</mark> Courses </h2>
            </div>
            <!-- Section Title End -->
            <!-- Courses Tab Menu End -->
            <div class="courses-tab-menu courses-tab-menu-02" data-aos="fade-up" data-aos-duration="1000">
                <ul class="nav justify-content-lg-center">
                    @foreach (var item in Model.CoursePackages)
                    {
                        <li><button class="packages" data-bs-toggle="tab" data-bs-target="#tab-@item.Id">@item.EnName</button>
                        </li>
                    }
                </ul>
            </div>
            <!-- Courses Tab Menu End -->

            <div class="tab-content">
                @foreach (var item in Model.CoursePackages)
                {
                    <div class="tab-pane package-tabs fade" id="tab-@item.Id">

                        <div class="row g-6">
                            @foreach (var course in Model.Courses.Where(c => c.CoursePackageId == item.Id))
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">

                                    <!-- Course Start -->
                                    <div class="course-item" data-aos="fade-up" data-aos-duration="1000">
                                        <div class="course-header">
                                            <div class="course-header__thumbnail ">
                                                <a href="course-single-layout-01.html"><img
                                                        src="assets/images/courses/courses-1.jpg" alt="courses" width="330"
                                                        height="221"></a>
                                            </div>
                                        </div>
                                        <div class="course-info">
                                            <span class="course-info__badge-text badge-all">All Levels</span>
                                            <h3 class="course-info__title-02"><a asp-action="Details" asp-controller="Courses"
                                                    asp-route-id="@course.Id">@course.EnName</a></h3>
                                            <a href="#" class="course-info__instructor">@course.Language</a>
                                            <div class="course-info__price">
                                                <span class="sale-price">$@course.CourseFees.<small
                                                        class="separator">00</small></span>
                                            </div>
                                            <div class="course-info__rating">

                                                <div class="rating-star">
                                                    <div class="rating-label" style="width: 80%;"></div>
                                                </div>

                                                <span>(2)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Course End -->

                                </div>
                            }

                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
}
else
{
    <div class="courses-section section-padding-02">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="section-title__title">الدورات <mark>الاكثر</mark> شهرة </h2>
            </div>
            <!-- Section Title End -->
            <!-- Courses Tab Menu End -->
            <div class="courses-tab-menu courses-tab-menu-02" data-aos="fade-up" data-aos-duration="1000">
                <ul class="nav justify-content-lg-center">
                    @foreach (var item in Model.CoursePackages)
                    {
                        <li><button class="packages" data-bs-toggle="tab" data-bs-target="#tab-@item.Id">@item.ArName</button>
                        </li>
                    }
                </ul>
            </div>
            <!-- Courses Tab Menu End -->

            <div class="tab-content">
                @foreach (var item in Model.CoursePackages)
                {
                    <div class="tab-pane package-tabs fade" id="tab-@item.Id">

                        <div class="row g-6">
                            @foreach (var course in Model.Courses.Where(c => c.CoursePackageId == item.Id))
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">

                                    <!-- Course Start -->
                                    <div class="course-item" data-aos="fade-up" data-aos-duration="1000">
                                        <div class="course-header">
                                            <div class="course-header__thumbnail ">
                                                <a asp-action="Details" asp-controller="Courses" asp-route-id="@item.Id"><img
                                                        src="assets/images/courses/courses-1.jpg" alt="courses" width="330"
                                                        height="221"></a>
                                            </div>
                                        </div>
                                        <div class="course-info">
                                            <span class="course-info__badge-text badge-all">All Levels</span>
                                            <h3 class="course-info__title-02"><a asp-action="Details" asp-controller="Courses" asp-route-id="@item.Id">@course.ArName</a></h3>
                                            <a href="#" class="course-info__instructor">@course.Language</a>
                                            <div class="course-info__price">
                                                <span class="sale-price">$@course.CourseFees<small
                                                        class="separator">00</small></span>
                                            </div>
                                            <div class="course-info__rating">

                                                <div class="rating-star">
                                                    <div class="rating-label" style="width: 80%;"></div>
                                                </div>

                                                <span>(2)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Course End -->

                                </div>
                            }

                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
}
@if(culture.Name=="en"){
<!-- Call To Action Start -->
<div class="call-to-action section-padding-01">
    <div class="container">

        <!-- Call To Action Wrapper Start -->
        <div class="call-to-action__wrapper">

            <!-- Call To Action Icon Start -->
            <div class="call-to-action__icon" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-bolt"></i>
            </div>
            <!-- Call To Action Icon End -->
            <!-- Call To Action Content Start -->
            <div class="call-to-action__content">

                <div class="call-to-action__shape-01"></div>
                <div class="call-to-action__shape-02"></div>
                <div class="call-to-action__shape-03"></div>

                <div class="call-to-action__caption">
                    <h3 class="call-to-action__sub-title">Let Us Help</h3>
                    <h3 class="call-to-action__main-title">@Localizer["Finding Your Right Courses"] </h3>
                </div>
                <div class="call-to-action__btn">
                    <a class="btn btn-secondary btn-hover-primary" href="course-category.html">Get started</a>
                </div>

            </div>
            <!-- Call To Action Content End -->

        </div>
        <!-- Call To Action Wrapper End -->

    </div>
</div>
<!-- Call To Action End -->
}
else{
    <!-- Call To Action Start -->
<div class="call-to-action section-padding-01">
    <div class="container">

        <!-- Call To Action Wrapper Start -->
        <div class="call-to-action__wrapper">

            <!-- Call To Action Icon Start -->
            <div class="call-to-action__icon" data-aos="zoom-in" data-aos-duration="1000">
                <i class="fas fa-bolt"></i>
            </div>
            <!-- Call To Action Icon End -->
            <!-- Call To Action Content Start -->
            <div class="call-to-action__content">

                <div class="call-to-action__shape-01"></div>
                <div class="call-to-action__shape-02"></div>
                <div class="call-to-action__shape-03"></div>

                <div class="call-to-action__caption">
                    <h3 class="call-to-action__sub-title">دعنا نساعدك</h3>
                    <h3 class="call-to-action__main-title">ابحث عن دورات مناسبة</h3>
                </div>
                <div class="call-to-action__btn">
                    <a class="btn btn-secondary btn-hover-primary" href="course-category.html">ابدا الان</a>
                </div>

            </div>
            <!-- Call To Action Content End -->

        </div>
        <!-- Call To Action Wrapper End -->

    </div>
</div>
<!-- Call To Action End -->

}
@if(culture.Name=="en"){
<!-- Counter Start -->
<div class="counter-section bg-color-02">
    <div class="container">

        <div class="row gy-10 align-items-center">
            <div class="col-xl-3 col-lg-4">

                <!-- Section Title Start -->
                <div class="section-title mb-0" data-aos="fade-up" data-aos-duration="1000">
                    <h4 class="section-title__sub-title">START TO SUCCESS</h4>
                    <h2 class="section-title__title-02">Achieve Your Goals with <mark>EduMall</mark></h2>
                </div>
                <!-- Section Title End -->

            </div>
            <div class="col-xl-9">

                <div class="row ps-xl-10">
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-01.png" alt="Icon" width="42" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.EmployeesNumber</span>
                                <p class="counter-item__text">Students Enrolled</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-02.png" alt="Icon" width="39" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.ProjectsNumber</span>
                                <p class="counter-item__text">Package</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-03.png" alt="Icon" width="48" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.BeneficiariesNumber</span>
                                <p class="counter-item__text">Learners report career benefits</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-04.png" alt="Icon" width="48" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.VolunteersNumber</span>
                                <p class="counter-item__text">Courses from top instructors</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Counter End -->
}
else{
<!-- Counter Start -->
<div class="counter-section bg-color-02">
    <div class="container">

        <div class="row gy-10 align-items-center">
            <div class="col-xl-3 col-lg-4">

                <!-- Section Title Start -->
                <div class="section-title mb-0" data-aos="fade-up" data-aos-duration="1000">
                    <h4 class="section-title__sub-title">ابدأ النجاح</h4>
                    <h2 class="section-title__title-02">بالوصول الى اهدافك مع <mark>اكاديمية البيانات</mark></h2>
                </div>
                <!-- Section Title End -->

            </div>
            <div class="col-xl-9">

                <div class="row ps-xl-10">
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-01.png" alt="Icon" width="42" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.EmployeesNumber</span>
                                <p class="counter-item__text">الطلبة المسجلين</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-02.png" alt="Icon" width="39" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.ProjectsNumber</span>
                                <p class="counter-item__text">الباقات</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-03.png" alt="Icon" width="48" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.BeneficiariesNumber</span>
                                <p class="counter-item__text">توظفوا بعد الالتحاق </p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                    <div class="col-md-3 col-6" data-aos="fade-up" data-aos-duration="1000">

                        <!-- Counter Item Start -->
                        <div class="counter-item">
                            <div class="counter-item__icon">
                                <img src="assets/images/icon/counter-media-04.png" alt="Icon" width="48" height="48">
                            </div>
                            <div class="counter-item__content">
                                <span class="counter-item__count">@Model.SystemSettings.VolunteersNumber</span>
                                <p class="counter-item__text">الدورات من مدربين معتمدين</p>
                            </div>
                        </div>
                        <!-- Counter Item End -->

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Counter End -->
}
@if (culture.Name == "en")
{
    <!-- Event Start -->
    <div class="event-section section-padding-01">
        <div class="container">
            <div class="row gy-10 align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-6 col-sm-7">

                    <!-- Section Title Start -->
                    <div class="section-title mb-0 pe-lg-8" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">Packages</h4>
                        <h2 class="section-title__title-02">Popular <br> <mark>Packages</mark></h2>
                        <p>You can show all packages here to let people take the chances to get involve.</p>
                    </div>
                    <!-- Section Title End -->

                    <div class="section-btn" data-aos="fade-up" data-aos-duration="1000">
                        <a asp-action="Index" asp-controller="CoursePackages" class="btn btn-light btn-hover-primary">View
                            all</a>
                    </div>

                </div>

                <div class="col-xl-9">
                    <!-- Event Active Start -->
                    <div class="event-active swiper-button-style" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model.CoursePackages)
                                {
                                    <div class="swiper-slide">
                                        <!-- Event Item Start -->
                                        <div class="event-item">
                                            <div class="event-item__image">
                                                <a asp-action="Details" asp-controller="CoursePackages"
                                                    asp-route-id="@item.Id"><img
                                                        src="assets/images/event/event-thumbnail-10.jpg" alt="event" width="330"
                                                        height="186"></a>
                                            </div>
                                            <div class="event-item__content text-center">
                                                <span class="event-item__date">@item.StartingDate</span>
                                                <h3 class="event-item__title"><a asp-action="Details"
                                                        asp-controller="CoursePackages" asp-route-id="@item.Id">@item.EnName</a>
                                                </h3>
                                                <p class="event-item__location"> @item.CourseFees <i
                                                        class="fa fa-solid fa-dollar-sign"></i></p>
                                            </div>
                                        </div>
                                        <!-- Event Item End -->
                                    </div>
                                }



                            </div>
                        </div>

                        <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
                    </div>
                    <!-- Event Active End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->
}
else
{
    <!-- Event Start -->
    <div class="event-section section-padding-01">
        <div class="container">
            <div class="row gy-10 align-items-center">
                <div class="col-xl-3 col-lg-5 col-md-6 col-sm-7">

                    <!-- Section Title Start -->
                    <div class="section-title mb-0 pe-lg-8" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">الباقات</h4>
                        <h2 class="section-title__title-02">اهم <br> <mark>الباقات</mark></h2>
                        <p>يمكنك مشاهدة جميع الباقات هنا للسماح للأشخاص باغتنام فرص المشاركة.</p>
                    </div>
                    <!-- Section Title End -->

                    <div class="section-btn" data-aos="fade-up" data-aos-duration="1000">
                        <a asp-action="Index" asp-controller="CoursePackages" class="btn btn-light btn-hover-primary">مشاهدة الكل</a>
                    </div>

                </div>

                <div class="col-xl-9">
                    <!-- Event Active Start -->
                    <div class="event-active swiper-button-style" data-aos="fade-up" data-aos-duration="1000">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                @foreach (var item in Model.CoursePackages)
                                {
                                    <div class="swiper-slide">
                                        <!-- Event Item Start -->
                                        <div class="event-item">
                                            <div class="event-item__image">
                                                <a asp-action="Details" asp-controller="CoursePackages"
                                                    asp-route-id="@item.Id"><img
                                                        src="assets/images/event/event-thumbnail-10.jpg" alt="event" width="330"
                                                        height="186"></a>
                                            </div>
                                            <div class="event-item__content text-center">
                                                <span class="event-item__date">@item.StartingDate</span>
                                                <h3 class="event-item__title"><a asp-action="Details"
                                                        asp-controller="CoursePackages" asp-route-id="@item.Id">@item.ArName</a>
                                                </h3>
                                                <p class="event-item__location"> @item.CourseFees <i
                                                        class="fa fa-solid fa-dollar-sign"></i></p>
                                            </div>
                                        </div>
                                        <!-- Event Item End -->
                                    </div>
                                }



                            </div>
                        </div>

                        <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
                        <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
                    </div>
                    <!-- Event Active End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->
}

@if (culture.Name == "en")
{
    <!-- Testimonial Start -->
    <div class="testimonial-section bg-color-01 section-padding-01">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h4 class="section-title__sub-title">TESTIMONIALS</h4>
                <h2 class="section-title__title-02">See What Our Students Have To Say</h2>
            </div>
            <!-- Section Title End -->
            <!-- Testimonial Start -->
            <div class="testimonial-active-02" data-aos="fade-up" data-aos-duration="1000">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Testimonials)
                        {
                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item-02">

                                    <div class="testimonial-image">
                                        <img src="Pictures/@item.Image" alt="Avatar" width="70" height="70">
                                    </div>

                                    <div class="testimonial-caption-02">
                                        <p>@item.EnBriefDescription</p>
                                    </div>

                                    <div class="testimonial-info-02__caption">
                                        <h5 class="testimonial-info-02__name">@item.EnName</h5>
                                        <p class="testimonial-info-02__designation">@item.EnJob</p>
                                    </div>

                                </div>
                                <!-- Testimonial Item End -->
                            </div>
                        }
                    </div>
                </div>

            </div>
            <!-- Testimonial End -->

        </div>
    </div>
    <!-- Testimonial End -->
}
else
{
    <div class="testimonial-section bg-color-01 section-padding-01">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <h4 class="section-title__sub-title">شهادات الطلاب</h4>
                <h2 class="section-title__title-02">ماذا قال الطلاب عن الاكاديمية</h2>
            </div>
            <!-- Section Title End -->
            <!-- Testimonial Start -->
            <div class="testimonial-active-02" data-aos="fade-up" data-aos-duration="1000">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Testimonials)
                        {
                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item-02">

                                    <div class="testimonial-image">
                                        <img src="Pictures/@item.Image" alt="Avatar" width="70" height="70">
                                    </div>

                                    <div class="testimonial-caption-02">
                                        <p>@item.BriefDescription</p>
                                    </div>

                                    <div class="testimonial-info-02__caption">
                                        <h5 class="testimonial-info-02__name">@item.Name</h5>
                                        <p class="testimonial-info-02__designation">@item.Job</p>
                                    </div>

                                </div>
                                <!-- Testimonial Item End -->
                            </div>
                        }
                    </div>
                </div>

            </div>
            <!-- Testimonial End -->

        </div>
    </div>
}
@if (culture.Name == "en")
{
    <!-- Blog start -->
    <div class="blog section section-padding-01">
        <div class="container">
            <div class="row gy-10">
                <div class="col-xl-3">

                    <!-- Section Title Start -->
                    <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">BLOG UPDATE</h4>
                        <h2 class="section-title__title-02">Data Labs Academy's News <br> And <mark>Blogs</mark></h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- list Blog Start -->
                    <div class="list-blog">
                        <ul class="list-blog__items" data-aos="fade-up" data-aos-duration="1000">
                            @foreach (var item in Model.MostReadPosts)
                            {
                                <li>
                                    <h3 class="list-blog__title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-id="@item.Id">@item.EnTitle</a></h3>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- list Blog End -->

                </div>
                <div class="col-xl-9">
                    <div class="row gy-6">
                        @foreach (var item in Model.BlogPosts)
                        {
                            <div class="col-lg-4 col-md-6">
                                <!-- Blog Item Start -->
                                <div class="blog-item" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="blog-item__image">
                                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id"><img src="/Pictures/@item.Image"
                                                alt="Blog" width="330" height="179"></a>
                                    </div>
                                    <div class="blog-item__content">
                                        <div class="blog-item__meta">
                                            <span class="meta-action"><i class="fas fa-calendar"></i> @item.PostDateTime</span>
                                            <span class="meta-action"><i class="fas fa-eye"></i> @item.Reads views</span>
                                        </div>
                                        <h3 class="blog-item__title"><a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id">@item.EnTitle</a>
                                        </h3>
                                        <p></p>
                                        <a class="blog-item__more btn btn-light btn-hover-white" asp-action="Index"
                                            asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id">Read More</a>
                                    </div>
                                </div>
                                <!-- Blog Item End -->
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

}
else
{
    <!-- Blog start -->
    <div class="blog section section-padding-01">
        <div class="container">
            <div class="row gy-10">
                <div class="col-xl-3">

                    <!-- Section Title Start -->
                    <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                        <h4 class="section-title__sub-title">اخر المدونات</h4>
                        <h2 class="section-title__title-02">اكاديمية البيانات : اخبار  <br> و <mark>مدونات</mark></h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- list Blog Start -->
                    <div class="list-blog">
                        <ul class="list-blog__items" data-aos="fade-up" data-aos-duration="1000">
                            @foreach (var item in Model.MostReadPosts)
                            {
                                <li>
                                    <h3 class="list-blog__title"><a asp-action="Details" asp-controller="BlogPosts" asp-route-id="@item.Id">@item.Title</a></h3>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- list Blog End -->

                </div>
                <div class="col-xl-9">
                    <div class="row gy-6">
                        @foreach (var item in Model.BlogPosts)
                        {
                            <div class="col-lg-4 col-md-6">
                                <!-- Blog Item Start -->
                                <div class="blog-item" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="blog-item__image">
                                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-id="@item.Id"><img src="/Pictures/@item.Image"
                                                alt="Blog" width="330" height="179"></a>
                                    </div>
                                    <div class="blog-item__content">
                                        <div class="blog-item__meta">
                                            <span class="meta-action"><i class="fas fa-calendar"></i> @item.PostDateTime</span>
                                            <span class="meta-action"><i class="fas fa-eye"></i> @item.Reads مشاهدات</span>
                                        </div>
                                        <h3 class="blog-item__title"><a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                        </h3>
                                        <p></p>
                                        <a class="blog-item__more btn btn-light btn-hover-white" asp-action="Index"
                                            asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id">اكمل القراءة</a>
                                    </div>
                                </div>
                                <!-- Blog Item End -->
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

}
@section scripts {
    <script>
        $(".package-tabs").first().addClass("show active");
        $(".packages").first().addClass("active");
    </script>



}